body {
    background: #1C1C1C;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    gap: 2vw;
}
.nome {
    font-family: "Orbitron", sans-serif;
    font-style: normal;
    font-size: 2.4vw;
    font-weight: 700;
    color: white;
}
.header img {
    height: 150vh;
    margin-top: -17vh;
    margin-left: 2%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
}