body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}
footer {
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-size: 20vh;
    text-align: center;
    width: 100%;
    bottom: 0;
}


a{
text-decoration: none;
color: rgb(109, 109, 219);
}