body {
    background: linear-gradient(to right bottom, rgb(38, 52, 75), rgb(41, 43, 71));
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
    width: 1vw;
}

body::-webkit-scrollbar-track {
    background: grey;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid white;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ca {
    display: flex;
    justify-content: center;

}

fieldset {
    border-radius: 20px;
    padding: 3vh;
    box-shadow: 10px 10px 20px #000;
    margin-top: 5vh;
    width: 40%;
    border: none;
    background-color: #e0e5ec;
}

legend {
    position: relative;
    right: -2vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e5ec;
    padding: 1vh;
    border-radius: 10px;
}

input {
    background: #e0e5ec;
    border: none;
    outline: none;
    box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #fff;
    padding: 1.5vh;
    border-radius: 20px;
    margin-bottom: 1.8vh;
    transition: 0.3s;
    width: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.cad::placeholder {
    color: grey;
}

.input-text label {
    margin-left: .5vw;
}

input[type="text"] {
    outline: none;
    transition: 0.3s;
    width: 93%;
}

input[type="text"]:focus {
    border: 2px solid lightskyblue;
}

input[type="text"]:not(:placeholder-shown):valid {
    border: 2px solid lightgreen;
}

input[type="text"]:not(:placeholder-shown):invalid {
    border: 2px solid red;
}

input[type="email"] {
    outline: none;
    transition: 0.3s;
    width: 93%;
}

input[type="email"]:focus {
    border: 2px solid lightskyblue;
}

input[type="email"]:not(:placeholder-shown):valid {
    border: 2px solid lightgreen;
}

input[type="email"]:not(:placeholder-shown):invalid {
    border: 2px solid red;
}

input[type="password"] {
    outline: none;
    transition: 0.3s;
    width: 93%;
}

input[type=password]:focus {
    border: 2px solid lightskyblue;
}

input[type="password"]:not(:placeholder-shown):valid {
    border: 2px solid lightgreen;
}

input[type="password"]:not(:placeholder-shown):invalid {
    border: 2px solid red;
}

input[type="tel"] {
    outline: none;
    transition: 0.3s;
    width: 93%;
}

input[type=tel]:focus {
    border: 2px solid lightskyblue;
}

input[type="tel"]:not(:placeholder-shown):valid {
    border: 2px solid lightgreen;
}

input[type="tel"]:not(:placeholder-shown):invalid {
    border: 2px solid red;
}


button {
    padding: 1vw;
    width: 50%;
    border-radius: 30px;
    margin-top: 4vh;
    margin-left: auto;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #fff;
    transition: all .3s ease;
}

button:active {
    box-shadow: inset 5px 5px 10px #a3b1c6, -5px -5px 10px #fff;
}

button:hover {
    color: grey;
}

input[type="radio"] {
    display: none;
}

.sexo label,
.preferencias label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    font-family: Arial, sans-serif;
}

.label-titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.sexo label::before,
.preferencias label::before {
    content: "";
    width: 18px;
    height: 18px;
    box-shadow: inset 5px 5px 10px #a3b1c6, -5px -5px 10px #fff;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    transition: 0.3s;
}

input[type="radio"]:checked+label::before {
    background-color: #2196f3;
    border-color: #2196f3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.6);
}

hr {
    display: flex;
    justify-content: center;
    width: 90%;
    border: none;
    background: #a3b1c6;
    height: 2px;
    box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #fff;
}

select {
    background: #e0e5ec;
    border-radius: 20px;
    margin-top: 2vh;
    margin-left: auto;
    border: none;
    cursor: pointer;
    padding: .5vh;
    box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #fff;
    transition: all .3s ease;
}